.DetailContainer {
    width: 80vw;
    margin: 0 auto;
}


.divScreenshot {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imageMain {
    width: 95%;
    height: 50%;
    border-radius: 15px;
}


.divScreenshot {
    width: 80vw;
}

.screenshot {
    width: 40%;
    margin: 15px 15px;
    border-radius: 15px;
}

.trailerVideo {
    width: 80vw;
    border-radius: 15px;
}


.DivRatings {
    margin: 25px;
    display: inline-block;
}


.ratingGood {
    border: 1px solid #6dc84983;
    color: #6dc849;
    width: 45px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px;
    transition: all 0.3s;

}
.ratingGood:hover {
    border: 1px solid #6dc849;
    cursor: pointer;
    padding: auto 3px;
}


.ratingMedium {
    border: 1px solid rgba(172, 172, 19, 0.548);
    color: rgb(172, 172, 19);
    width: 45px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px;
    transition: all 0.3s;

}
.ratingMedium:hover {
    border: 1px solid rgb(172, 172, 19);
    cursor: pointer;
}
.ratingBad {
    border: 1px solid rgba(151, 51, 51, 0.521);
    color: rgb(151, 51, 51);
    width: 45px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
    padding: 5px 5px;
}
.ratingBad:hover {
    border: 1px solid rgb(151, 51, 51);
    cursor: pointer;
}



.exceptional {
    color: #fff;

    width: 5vw;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 15px;
    padding: 5px 25px;
    transition: all 0.2s ease;
}
.exceptional:hover {
    border: 1px solid gray;
    cursor: pointer;
}

.recommended {
    color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 15px;
    padding: 5px 25px;
    margin: 1% auto;
    transition: all 0.2s ease;
}
.recommended:hover {
    border: 1px solid gray;
    cursor: pointer;
}

.meh {
    color: #fff;
    width: 5vw;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 15px;
    margin: 1% auto;
    padding: 5px 25px;
    transition: all 0.2s ease;
}
.meh:hover {
    border: 1px solid gray;
    cursor: pointer;
}

.skip {
    color: #fff;
    width: 5vw;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 15px;
    margin: 1% auto;
    padding: 5px 25px;
    transition: all 0.2s ease;
}
.skip:hover {
    border: 1px solid gray;
    cursor: pointer;
}


.spanCounts {
    color: rgb(92, 90, 90);
}

.ReleasedP2 {
    color: rgb(92, 90, 90);
}
.GenresP {
    color: rgb(92, 90, 90);
}
.PlatformsP {
    color: rgb(92, 90, 90);
}


.PlatAndGen {
    display: flex;
    flex-direction: column;
}



.WOscreenshot,
.WOtrailer,
.NameTitle,
.RatingP,
.ReleasedP1,
.GenresTitles,
.PlatformsTitle,
.DescriptionTitle,
.DescriptionP,
.RatingsTitle,
.ScreenshotsTitle,
.TrailerTitle {
    color: #ffffff;
}


@media screen and (max-width: 780px) {
    .screenshot {
        width: 90%;
        margin: 15px;
        border-radius: 15px;
    }
}